main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.libroInfo{
    margin-top: 10rem;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 10rem;
}

.venta{
    display: flex;    
}

.modal-open header,
.modal-open main,
.modal-open footer {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media (max-width: 1000px) {
    #botonModal{
        padding: 0px;
    }
}

.bd-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}