main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#libros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genero{
    margin: 5rem;
}

.libroInfo{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2%;
    border: solid 1px white;
    margin: 2%;
}

.venta{
    display: flex;    
}

.modal-open header,
.modal-open main {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media (max-width: 768px) {
    #botonModal{
        padding: 0px;
    }
}