main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

#libros{
    height: 100%;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 5%;
}

.cantidadCarrito{
    padding: 2%;
    font-size: small;
    color: white;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: -2px;
    left: 3px;
    position: relative;
    background: #e41c1c;
}

.welcome{
    margin: 5rem;
}

.libroInfo{
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.venta{
    display: flex;    
}

.description{
    display: none;
}


.modal-open header,
.modal-open main,
.modal-open footer,
.modal-open .whatsapp {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media (max-width: 1000px) {
    #botonModal{
        padding: 0px;
    }
}

@media (max-width: 920px) {
    #libros{
        margin-bottom: 110rem;
    }
}
@media (max-width: 450px) {
    .libroInfo{
        transform: scale(0.5);
    }
    #genero{
        transform: scale(0.7);
    }
}

.bd-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos para posicionar el elemento en la esquina inferior derecha */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Asegura que esté encima de todo */
}

.whatsapp a img {
    width: 5rem;
}